<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>m01</key>
		<dict/>
	</dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>Π</string>
		<string>π</string>
		<string>Φ</string>
		<string>φ</string>
		<string>p</string>
		<string>ρ</string>
		<string>w</string>
		<string>ω</string>
		<string>t</string>
		<string>τ</string>
		<string>o</string>
		<string>σ</string>
		<string>u</string>
		<string>υ</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>m01</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>Alpha</string>
		<string>Beta</string>
		<string>Gamma</string>
		<string>Delta</string>
		<string>Epsilon</string>
		<string>Zeta</string>
		<string>Eta</string>
		<string>Theta</string>
		<string>Iota</string>
		<string>Kappa</string>
		<string>Lambda</string>
		<string>Mu</string>
		<string>Nu</string>
		<string>Xi</string>
		<string>Omicron</string>
		<string>Pi</string>
		<string>Rho</string>
		<string>Sigma</string>
		<string>Tau</string>
		<string>Upsilon</string>
		<string>Phi</string>
		<string>Chi</string>
		<string>Psi</string>
		<string>Omega</string>
		<string>alpha</string>
		<string>beta</string>
		<string>gamma</string>
		<string>delta</string>
		<string>epsilon</string>
		<string>zeta</string>
		<string>eta</string>
		<string>theta</string>
		<string>iota</string>
		<string>kappa</string>
		<string>lambda</string>
		<string>mu</string>
		<string>nu</string>
		<string>xi</string>
		<string>omicron</string>
		<string>pi</string>
		<string>rho</string>
		<string>sigmafinal</string>
		<string>sigma</string>
		<string>tau</string>
		<string>upsilon</string>
		<string>phi</string>
		<string>chi</string>
		<string>psi</string>
		<string>omega</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>.null</string>
		<string>space</string>
		<string>hyphen_greater.liga</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>colon.alt.lower</string>
		<string>hyphen</string>
		<string>underscore</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>at</string>
		<string>ampersand</string>
		<string>copyright</string>
		<string>bar</string>
		<string>equal_equal.liga</string>
		<string>equal_equal_equal.liga</string>
		<string>equal_greater.liga</string>
		<string>greater_equal.liga</string>
		<string>less_hyphen.liga</string>
		<string>less_equal.liga</string>
		<string>dollar</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>asciicircum</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>upArrow</string>
		<string>northEastArrow</string>
		<string>rightArrow</string>
		<string>southEastArrow</string>
		<string>downArrow</string>
		<string>southWestArrow</string>
		<string>leftArrow</string>
		<string>northWestArrow</string>
		<string>leftRightArrow</string>
		<string>upDownArrow</string>
		<string>dottedCircle</string>
		<string>lozenge</string>
		<string>grave</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>dottedCircle</key>
		<string>uni25CC</string>
		<key>downArrow</key>
		<string>arrowdown</string>
		<key>leftArrow</key>
		<string>arrowleft</string>
		<key>leftRightArrow</key>
		<string>arrowboth</string>
		<key>northEastArrow</key>
		<string>uni2197</string>
		<key>northWestArrow</key>
		<string>uni2196</string>
		<key>rightArrow</key>
		<string>arrowright</string>
		<key>southEastArrow</key>
		<string>uni2198</string>
		<key>southWestArrow</key>
		<string>uni2199</string>
		<key>upArrow</key>
		<string>arrowup</string>
		<key>upDownArrow</key>
		<string>arrowupdn</string>
	</dict>
</dict>
</plist>
